<?xml version="1.0" ?>

<launch>
  <!-- Argument to specify the model -->
  <arg name="model" />
  
  <!-- Parameter to set the robot description directly from the xacro file -->
  <param name="robot_description" command="$(find xacro)/xacro $(find a05_seven_dof_arm)/urdf/seven_dof_arm.xacro" />

  <!-- Start joint_state_publisher_gui node for GUI interaction with joint states -->
  <node name="joint_state_publisher_gui" pkg="joint_state_publisher_gui" type="joint_state_publisher_gui" />

  <!-- Start robot_state_publisher node to publish tf (transform) information -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />

  <!-- Launch RViz for visualization with a specific configuration file -->
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find a05_seven_dof_arm)/urdf.rviz" required="true" />
</launch>
